.jsx-a4dcd854085e5ecd {
  color: white;
  background-color: rgba(82, 83, 116, 0.33);
}

.m_8fdc1311 {
  display: inline-block;
  font-weight: 500;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  font-size: var(--input-label-size, var(--mantine-font-size-sm));
}

.m_e615b15f {
  --card-padding: var(--mantine-spacing-md);
  
  width: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  z-index: 1000;
}
.m_8fb7ebe7:focus,
.m_8fb7ebe7:focus-within {
  color: black;
}

.m_c0783ff9 {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  box-shadow: 0 8px 32px 0 rgba(84, 87, 124, 0.37) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  color: white !important;
  transition: all 0.3s ease;
}

.m_c0783ff9:hover {
  background: rgba(255, 255, 255, 0.2) !important;
  transform: translateY(-2px);
}

.m_88b62a41 {
  padding: 10px !important;
}

@media screen and (max-width: 768px) {
  .m_e615b15f {
    width: 100%;
    max-width: none;
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    border-radius: 10px 10px 0 0;
  }
}

.jsx-eef8178837c84a2f marker-list-container glass-effect{
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  color: white !important;
  transition: all 0.3s ease;
}

.jsx-c2c50eaae4686c04{
color:blue
}

.menu-button::after {
  content: 'Menu';
  position: absolute;
  top: 1%;
  left: 200px;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px 5px;
  border-radius: 3px;
  margin-top: 5px;
}
.jsx-c6336379f4514d3e glass-effect control-panel visible{
position: absolute;
  z-index: 1;
  top: 10px;
  left: 100px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  width: 90%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0px);
}

.mantine-focus-auto menu-button m_fea6bf1a mantine-Burger-root m_87cf2631 mantine-UnstyledButton-root{

  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  --burger-size: var(--burger-size-sm);


}