/* Your custom styles */
.glass-navbar {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

/* styles/globals.css */
body, html, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* styles/mapComponent.css */
.map-container {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

.map-overlay {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.pin-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.maplibregl-map > div:nth-child(3) > div:nth-child(1){
  width: 30vw;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

/* New styles for light-colored maps */
.maplibregl-style-streets .maplibregl-popup-content,
.maplibregl-style-light .maplibregl-popup-content {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.maplibregl-style-streets .maplibregl-popup-tip,
.maplibregl-style-light .maplibregl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.9);
}

.maplibregl-style-streets .maplibregl-ctrl,
.maplibregl-style-light .maplibregl-ctrl {
  color: black;
}

/* Responsive styles */
@media (max-width: 830px) {
  .glass-navbar {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .map-container {
    height: calc(100vh - 60px);
  }

  .map-overlay {
    width: 90%;
    max-width: 400px;
  }

  .pin-form {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .map-overlay,
  .pin-form {
    width: 95%;
  }
}